@font-face {
    font-family: "Sen";
    src: url(Sen-Regular.ttf)
}
@font-face {
    font-family: "Sen Bold";
    src: url(Sen-Bold.ttf)
}

html {
    --imageAnimationTime: 17.5s;
    background-image: var(--imageOne);
    background-size: 100vw 100vh;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    animation-name: backgroundChange;
    animation-duration: var(--imageAnimationTime);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    overflow-x: hidden;
}

:root {
    --imageOne: url(1.jpg);
    --imageTwo: url(2.jpg);
    --imageThree: url(3.jpg);
    --imageFour: url(4.jpg);
    --imageFive: url(5.jpg);
}

@media all and (orientation: portrait) {
    :root {
        --imageOne: url(1mobile.jpg);
        --imageTwo: url(2mobile.jpg);
        --imageThree: url(3mobile.jpg);
        --imageFour: url(4mobile.jpg);
        --imageFive: url(5mobile.jpg);
    }
}

@keyframes backgroundChange {
    0% {background-image: var(--imageOne)}    19% {background-image: var(--imageOne)}
    20% {background-image: var(--imageTwo)}    39% {background-image: var(--imageTwo)}
    40% {background-image: var(--imageThree)}    59% {background-image: var(--imageThree)}
    60% {background-image: var(--imageFour)}    79% {background-image: var(--imageFour)}
    80% {background-image: var(--imageFive)}    99% {background-image: var(--imageFive)}
}

@keyframes backgroundChangeOpacity {
    0% {opacity: 1;background-image: var(--imageOne)}
    1% {opacity: 1}    3% {opacity: 0}
    4% {background-image: var(--imageOne)}
    15% {background-image: var(--imageTwo)}
    16% {opacity: 0}    19% {opacity: 1}    21% {opacity: 1}    23% {opacity: 0}
    24% {background-image: var(--imageTwo)}
    35% {background-image: var(--imageThree)}
    36% {opacity: 0}    39% {opacity: 1}    41% {opacity: 1}    43% {opacity: 0}
    44% {background-image: var(--imageThree)}
    55% {background-image: var(--imageFour)}
    56% {opacity: 0}    59% {opacity: 1}    61% {opacity: 1}    63% {opacity: 0}
    64% {background-image: var(--imageFour)}
    75% {background-image: var(--imageFive)}
    76% {opacity: 0}    79% {opacity: 1}    81% {opacity: 1}    83% {opacity: 0}
    84% {background-image: var(--imageFive)}
    95% {background-image: var(--imageOne)}
    96% {opacity: 0}    99% {opacity: 1}    100% {opacity: 1;background-image: var(--imageOne)}
}

html::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

body {
    margin: 0;
    padding: 0;
}

.backgroundOpacity {
    height: 100%;
    width: 100%;
    position: fixed;
    background-size: 100vw 100vh;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 1;
    animation-name: backgroundChangeOpacity;
    animation-duration: var(--imageAnimationTime);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    z-index: -1;
}

#top {
    top: 0;
    position: absolute;
}

.menu {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 6em;
    color: black;
    border-bottom: 5px solid black;
}

.menuOption {
    animation-fill-mode: both;
    font-family: 'Sen Bold';
    text-decoration: none;
    font-size: 2em;
    display: inline-block;
    position: relative;
    width: 20vw;
    padding-top: 0.95em;
    height: 2.15em;
    
    top: calc(50% - (line-height/2));
    text-shadow: 0 0 5px white,-1px -1px 5px white,1px 1px 5px white,-1px 1px 5px white,1px -1px 5px white,1px 0 5px white,0px 1px 5px white,0px -1px 5px white,-1px 0px 5px white;
}

@keyframes backgroundDarkening {
    0% {background-color: rgba(0, 0, 0, 0.3);}
    100% {background-color: rgba(0, 0, 0, 0.5);}
}

@keyframes backgroundDarkeningReverse {
    0% {background-color: rgba(0, 0, 0, 0.5);}
    to {background-color: rgba(0, 0, 0, 0.3);}
}

.menuOption:not(:hover) {
    animation-name: backgroundDarkeningReverse;
    animation-duration: 0.25s;
}

.menuOption:hover {
    animation-name: backgroundDarkening;
    animation-duration: 0.25s;
}


.title {
    text-align: center;
    position: absolute;
    top: 5%;
    font-size: 6.25em;
    color: white;
    font-family: "Sen Bold";
    text-shadow: 0 0 5px black,-1px -1px 5px black,1px 1px 5px black,-1px 1px 5px black,1px -1px 5px black,1px 0 5px black,0px 1px 5px black,0px -1px 5px black,-1px 0px 5px black;
    opacity: 0.8;
    width: 100%;
}

.downArrow {
    text-align: center;
    left: 47.5%;
    width: 5%;
    position: absolute;
    bottom: 5%;
    filter: drop-shadow(0 0 0.75rem black);
    opacity: 0.8;
    animation-name: downArrowBob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes downArrowBob {
    0% {bottom: 3%}
    100% {bottom: 8%}
}

.contentBelow {
    width: 99%;
    left: 0.5%;
    position: absolute;
    display: block;
    height: fit-content;
    top: 100%;
    z-index: 1;
}

.contentBelowContainer {
    position: relative;
    background-color: white;
    border-radius: 20px;
    height: fit-content;
    width: 100%;
    padding-bottom: 0.57%;
}

.subheading {
    font-family: "Sen Bold";
    padding-left: 1.3%;
    font-size: 48px;
    padding-top: 1%;
}

p {
    font-family: "Sen";
    padding-left: 1.2%;
    font-size: 20px;
}

a {
    text-decoration: inherit;
    color: black;
}

a:visited {
    text-decoration: inherit;
    color: black;
}

.topButton {
    width: 5%;
    transform: scaleY(-1);
    filter: drop-shadow(0 0 0.75rem black);
    opacity: 0.8;
}

.bottomBox {
    text-align: center;
    position: relative;
    top: 0;
    width: 100%;
    height: 20%;
}