@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url(fonts/arialrounded.ttf)
}

HTML {
    background: var(--bg-colour) no-repeat fixed center;
    color: var(--main-text-colour);
    margin: 0;padding: 0;
    font-family: "Arial Rounded MT Bold", Arial;
    overflow-x: hidden;
    font-size: 1em;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    --dark-style-colour: #292929;
    --light-style-colour: #ffaf4d;
    --gay-style-colour: linear-gradient(180deg, #FE0000 16.66%,#FD8C00 16.66%, 33.32%,#FFE500 33.32%, 49.98%,#119F0B 49.98%, 66.64%,#0644B3 66.64%, 83.3%,#C22EDC 83.3%);
    --trans-style-colour: linear-gradient(180deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
}

BODY {
    margin: 0;padding: 0;
    overflow-x: hidden;
}

html::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

h1 {
    color: var(--h1-colour);
}

h2 {
    color: var(--h2-colour);
}

h3 {
    color: var(--h3-colour);
}

a {
    color: var(--link-colour);
}

a:visited {
    color: var(--link-colour);
}

input[type=text] {
    background: var(--menu-bar-colour);
    color: var(--h4-colour);
    border:none;
    height: 30px;
    width: 80%;
    font-family: "Arial Rounded MT Bold";
    font-size: 1em;
}

.jdavisBoxStuff {
    display: block;
    width: fit-content;
}

#jdavisBox:checked + span {
    color: red;
}

#jdavisBox:not(:checked) + span {
    color: green;
}

.menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: var(--menu-bar-colour);
    z-index: 1000;
    background: var(--bg-colour);
    background-size: 100vw 100vh;
}

.menuText {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 33vw;
    height: 10vh;
    padding-left: 2vw;
    font-size: 2em;
    line-height: 10vh;
    animation-name: menuHoverReverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.menuContainer {
    display: inline-block;
    position: absolute;
    left: 35vw;
    top: 0;
    width: 65vw;
    height: 10vh;
}

.menu, .menu:visited {
    display: block;
    float: left;
    top: 0;
    height: 10vh;
    width: 15vw;
    line-height: 10vh;
    font-size: 2em;
    color: var(--h1-colour);
    background-color: var(--menu-bar-colour);
    text-decoration: none;
    text-align: center;
    animation-name: menuHoverReverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.currentmenu, .currentmenu:visited {
    animation-name: currentMenuHoverReverse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.menu:hover, .menu:visited:hover {
    animation-name: menuHover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.currentmenu:hover, .currentmenu:visited:hover {
    animation-name: currentMenuHover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes menuHover {
    from {background-color: var(--menu-bar-colour);}
    to {background-color: var(--hover-menu-colour);}
}

@keyframes menuHoverReverse {
    from {background-color: var(--hover-menu-colour);}
    to {background-color: var(--menu-bar-colour);}
}

@keyframes currentMenuHover {
    from {background-color: var(--current-menu-colour);}
    to {background-color: var(--hover-current-menu-colour);}
}

@keyframes currentMenuHoverReverse {
    from {background-color: var(--hover-current-menu-colour);}
    to {background-color: var(--current-menu-colour);}
}

.dropdownContent {
    position: absolute;
    top: 9.9vh;
    right: 0;
    width: 35vw;
    border-style: solid;
    border-width: 34x;
    display: none;
}

.dropdownMenu:hover .dropdownContent {
    display: block;
}

.dropdownContent:hover {
    display: block;
}

.dropdownMenu:not(:hover) .dropdownContent {
    display: none;
}

.dropdownContent a {
    display: block;
    font-size: 1em;
    height: 5vh;
    line-height: 5vh;
    text-decoration: none;
    color: var(--h1-colour);
    border-style: solid;
    border-width: 2px;
    width: 35vw;
    background-color: var(--menu-bar-colour);
}

.dropdownContent a:hover {
    background-color: var(--hover-menu-colour);
}

.titleContainer {
    position: absolute;
    top: 10vh;
    height: 30vh;
    line-height: 30vh;
    font-size: 2.5em;
    width: 99vw;
    padding-left: 1vw;
}

.container {
    position: absolute;
    top: 40vh;
    width: 99.5vw;
    padding-left: 0.5vw;
    height: 60vh;
    font-size: 1.8em;
    background-color: var(--menu-bar-colour)
}

#jdavisBox, #jdavisBox2 {
    transform: scale(1.5);
}