@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url(fonts/arialrounded.ttf)
}

HTML {
    background: var(--bg-colour);
    color: var(--main-text-colour);
    margin: 0;padding: 0;
    font-family: "Arial Rounded MT Bold";
    overflow-x: hidden;
    font-size: 1em;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

html::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

h1 {
    color: var(--h1-colour);
}

h2 {
    color: var(--h2-colour);
}

h3 {
    color: var(--h3-colour);
}

a {
    color: var(--link-colour);
}

a:visited {
    color: var(--link-colour);
}

.menu {
    display: inline-block;
    background-color: var(--menu-bar-colour);
    color: var(--h1-colour);
    text-align: center;
    text-decoration: none;
    font-size: 22.5px;
    width: 10%;
    height: 1.87em;
    font-size: 2em;
    padding-top: 0.63em;
}

.menu:visited {
    color: var(--h1-colour);
}

.menu:hover {
    background-color: var(--hover-menu-colour);
}

.currentmenu {
    background-color: var(--current-menu-colour);
}

.currentmenu:hover {
    background-color: var(--hover-current-menu-colour);
}

.menubar {
    z-index: 100;
    background-color: var(--menu-bar-colour);
    width: 100%;
    height: 5em;
    display: flex;
    position: fixed;
    text-align: right;
    top:0px;
    left:0px;
}

.menuTextContainer {
    display: inline-block;
    width: 60%;
}

.menubar h1 {
    position: absolute;
    left: 2%;
    text-align: left;
}

.dropdownContent {
    position: absolute;
    top: 100%;
    right: 1%;
    height: 8em;
    display: none;
    background-color: var(--menu-bar-colour);
    border-style: solid;
    border-color: black;
    width: 20%;
}

.dropdownMenu:hover {
    background-color: var(--hover-menu-colour);
}

.dropdownMenu:hover .dropdownContent {
    display: block;
}

.dropdownMenu:not(:hover) .dropdownContent {
    display: none;
}

.dropdownContent a {
    position: absolute;
    right: 0;
    width: 100%;
    color: var(--h1-colour);
    text-decoration: none;
    width: 100%;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: black;
}

.dropdownContent a:hover {
    background-color: var(--hover-menu-colour);
}

button {
    border-style: none;
    border-radius: 20px 0 0 0;
    background-color:var(--button-background-colour);
    height: 5%;
    color:var(--button-text-colour);
    font-family: 'Finger Paint', cursive;
}

button:focus, input:focus{
    outline: none;
}

.noLinkStyle {
    text-decoration: none;
    color: inherit;
}

.titleContainer {
    top: 15%;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 10%;
}

.titleContainer h1 {
    position: relative;
    left: 10%;
}

.container {
    position: absolute;
    left: 0;
    padding-left: 1%;
    top: 30%;
    width: 100%;
    background-color: var(--menu-bar-colour);
    height: 70%;
    font-size: 1.5em;
}

input[type=text] {
    background: var(--menu-bar-colour);
    color: var(--h4-colour);
    border:none;
    height: 30px;
    width: 80%;
    font-family: "Arial Rounded MT Bold";
    font-size: 1em;
}

.jdavisBoxStuff {
    display: block;
    width: fit-content;
}

#jdavisBox:checked + span {
    color: red;
}

#jdavisBox:not(:checked) + span {
    color: green;
}