HTML {
    background-image: url("/images/rainbow.png");
    background-position: left 11%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

H1 {
    font-size: 35px;
    font-family: 'Fredoka One', cursive;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 14.9%;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.headerText {
    position: absolute;
    text-align: center;
    width: 100%;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    top: 52%;
}

.menuOption {
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: inline-block;
    width: 50vw;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

.menuOption:hover {
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: inline-block;
    width: 50vw;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #F3F3F3;
}

.box {
    position: absolute;
    background-color: white;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 9%;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.footerText {
    position: absolute;
    text-align: center;
    width: 100%;
}
